/* src/sidepanel/index.css */
@import '../styles/globals.css';
@import '../styles/map.css';
@import '../styles/animations.css';

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}